{{ define "item" }}
<article
        class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
        data-id="{{ .ID }}"
        aria-labelledby="entry-title-{{ .ID }}"
        tabindex="-1"
>
    <header class="item-header" dir="auto">
        <h2 id="entry-title-{{ .ID }}" class="item-title">
            <a
                {{ if $.showOnlyUnreadEntries }}
                href="{{ route "unreadFeedEntry" "feedID" .entry.Feed.ID "entryID" .entry.ID }}"
            {{ else }}
            href="{{ route "feedEntry" "feedID" .entry.Feed.ID "entryID" .entry.ID }}"
            {{ end }}
            >
            {{ if ne .entry.Feed.Icon.IconID 0 }}
            <img src="{{ route "icon" "iconID" .entry.Feed.Icon.IconID }}" width="16" height="16" loading="lazy" alt="">
            {{ end }}
            {{ .entry.Title }}
            </a>
        </h2>
        <span class="category">
                    <a
                            href="{{ route "categoryEntries" "categoryID" .entry.Feed.Category.ID }}"
                        aria-label="{{ t "page.category_label" .entry.Feed.Category.Title }}"
                    >
                        {{ .entry.Feed.Category.Title }}
            </a>
                </span>
    </header>

    {{ template "item_meta" dict "user" $.user "entry" .entry "hasSaveEntry" $.hasSaveEntry }}
    <div class="entry-content">
        {{ if .user }}
        {{ noescape (proxyFilter .entry.Content) }}
        {{ else }}
        {{ noescape .entry.Content }}
        {{ end }}
    </div>
</article>
{{ end }}
